.cart-quick-access-wrapper {
    width: max-content;
    .icon-wrapper {
        position: relative;
        cursor: pointer;
        .counter {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: black;
            color: white;
            border-radius: 50%;
            top: -8px;
            right: -10px;
        }
    }
    .back-drop {
        position: fixed;
        width: 100vw;
        max-width: 100vw;
        height: calc(100% - 80px);
        max-height: calc(100% - 80px);
        background-color: rgba(0, 0, 0, 0.144);
        left: 0;
        bottom: 0px;
        z-index: 800;
    }
    .orders-list {
        display: inline-block;
        position: absolute;
        top: 81px;
        right: 35px;
        width: 320px;
        height: max-content;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0;
        background-color: white;
        z-index: 900;
        .header {
            display: block;
            width: 100%;
            height: max-content;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-align: left;
            color: #1d1f22;
        }
        .body {
            max-height: 550px;
            overflow-y: auto;
            .order-item {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                padding-top: 25px;
                padding-bottom: 25px;
                .text {
                    .name {
                        max-width: 140px;
                        text-emphasis: wrap;
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        color: #1d1f22;
                    }
                    .amount {
                        max-width: 140px;
                        text-emphasis: wrap;
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 16px;
                        color: #1d1f22;
                        margin-top: 8px;
                    }
                    .attributes {
                        max-width: 140px;
                        .attr {
                            width: 100%;
                            .atrr-name {
                                width: 100%;
                                padding-top: 8px;
                                padding-bottom: 8px;
                            }
                            .items {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                                .attr-item {
                                    cursor: pointer;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #1d1f22;
                                    width: 30px;
                                    height: 30px;
                                    background-color: #ffffff;
                                    color: #292929;
                                    margin: 6px;
                                    font-size: 10px;
                                    &:hover {
                                        background-color: rgb(124, 124, 124);
                                        color: white;
                                    }
                                    &.selected {
                                        background-color: black;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
                .actions-count {
                    display: flex;
                    align-items: stretch;
                    flex-direction: column;
                    justify-content: space-around;
                    .inc {
                        display: flex;
                        align-items: flex-start;
                        height: 33%;
                        cursor: pointer;
                        .sign {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 14px;
                            height: 14px;
                            border: 1px solid black;
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                    .count {
                        display: flex;
                        align-items: center;
                        height: 34%;
                    }
                    .dec {
                        display: flex;
                        align-items: flex-end;
                        height: 33%;
                        cursor: pointer;
                        .sign {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 14px;
                            height: 14px;
                            border: 1px solid black;
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                }
                .img {
                    max-width: 120px;
                    max-height: 190px;
                    min-width: 120px;
                    min-height: 190px;
                    .item-image {
                        width: 100%;
                        max-width: 100%;
                        min-width: 100%;
                        height: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        margin: auto;
                    }
                }
            }
        }
        .footer {
            .total {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: max-content;
                padding-top: 15px;
                padding-bottom: 15px;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                color: #1d1f22;
            }
            .btns-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .bag {
                    width: 45%;
                    max-width: 45%;
                    height: 40px;
                    color: black;
                    background: #ffffff;
                    border: 1px solid #1d1f22;
                    cursor: pointer;
                }
                .checkout {
                    width: 45%;
                    max-width: 45%;
                    height: 40px;
                    color: white;
                    background-color: #5ece7b;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
}
