.categories {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    .active-category {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        color: #1d1f22;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 68px;
        text-transform: capitalize;
    }
    .list-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-start;
        height: auto;
        width: 100%;
        max-width: 100%;
        .item {
            gap: 1%;
            width: 31%;
            height: max-content;
            padding: 15px;
            .img-wrapper {
                position: relative;
                padding-bottom: 100%;
                overflow: hidden;
                max-width: 100%;
                .item-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .order-icon {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 52px;
                    height: 52px;
                    border-radius: 50px;
                    background-color: #5ece7b;
                    visibility: hidden;
                    bottom: 0;
                    right: 40px;
                    i{
                        color: white;
                    }
                }
            }
            .name {
                display: block;
                margin: 0;
                margin-top: 24px;
                font-family: "Raleway";
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                color: #1d1f22;
            }
            .price {
                display: block;
                font-family: "Raleway";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: #1d1f22;
            }
            &:hover {
                box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
                .img-wrapper {
                    .order-icon {
                        visibility: visible!important;
                    }
                }
            }
        }
    }
}
