@import "./cart-quick-access";
@import "./categories";
@import "./currency-select";
@import "./header";
@import "./product-detail";
@import "./cart";

.app-wrapper {
    display: block;
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    .header {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}
